/* 
############################
#     CUSTOM PROPERTIES    #
############################
 */

:root {
  --sidebar-width: 50px;
}

/* 
################
#     RESET    #
################
 */

/* 
################
#     DEBUG    #
################
 */

.box {
  width: auto;
  min-height: 80px;
  border: 2px dashed green;
  text-align: center;
  line-height: 80px;
}

.border_debug {
  border: 1px dashed red;
}

/* SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - 80px);
}

/* CONTENT */

#main_content {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - 80px);
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/

/* ## DESKTOP ## */

@media screen and (min-width: 992px) {
  :root {
    --sidebar-width: 100px;
  }
}
