/* 
############################
#     CUSTOM PROPERTIES    #
############################
 */

:root {
  --sidebar-width: 50px;
}

/* 
################
#     RESET    #
################
 */

ul {
  list-style-type: none;
  padding: 0;
}

/* 
################
#     DEBUG    #
################
 */

.box {
  min-width: auto;
  min-height: 80px;
  border: 2px dashed green;
  text-align: center;
  line-height: 80px;
}

.border_debug {
  border: 1px dashed red;
}

/* HEADER */

#header {
  height: 80px;
}

/* NAVBAR */

.btn-secondary {
  background-color: transparent;
  border: none;
  color: orange;
}

.btn:hover {
  background-color: transparent;
  border: none;
}

/* SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - 80px);
  background-image: url(../img/sidebar-bg.png);
  background-color: #0d253a;
}

#sidebar .icon_xl {
  display: inline-block;
  font-size: 1rem;
  margin-right: 5px;
}

/* MAIN - CONTENT */

#main_content {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - 80px);
  overflow: auto;
}

/* TOP-BAR */

#top_bar .btn {
  font-size: 1.5rem;
  padding: 0 0.7rem;
  margin-left: 0.5rem;
}
#top_bar .btn:hover {
  border: 1px solid white;
  color: white;
}

#content .table td {
  padding: 0;
  margin: 0;
}

#content .table img {
  width: 30px;
}

#content .table th {
  padding: 0;
}

#content .table tr {
  margin: 0;
}

/* OFFCANVAS */

.offcanvas.offcanvas-end {
  width: 100%;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/

/* ## DESKTOP ## */

@media screen and (min-width: 992px) {
  :root {
    --sidebar-width: 100px;
  }
  .offcanvas.offcanvas-end {
    width: 50%;
  }
}
