/* 
############################
#     CUSTOM PROPERTIES    #
############################
 */

:root {
  --sidebar-width: 50px;
}

/* 
################
#     RESET    #
################
 */

ul {
  list-style-type: none;
  padding: 0;
}

/* 
################
#     DEBUG    #
################
 */

.box {
  min-width: auto;
  min-height: 80px;
  border: 2px dashed green;
  text-align: center;
  line-height: 80px;
}

.border_debug {
  border: 1px dashed red;
}

/* HEADER */

#header {
  height: 76px;
}

/* NAVBAR */

.dropdown .btn {
  background-color: transparent;
  border: none;
  color: orange;
}

.dropdown .btn.show {
  color: orange;
}

.btn:hover {
  background-color: transparent;
  border: none;
}

.header_nav_icons i {
  color: #6c757d;
  margin: 0 0.5rem;
}

#header .form-control,
.input-group-text {
  background-color: #e5e5e5;
  border: none;
}

/* SIDEBAR */

#sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - 76px);
  background-image: url(../img/sidebar-bg.png);
  background-color: #0d253a;
}

#sidebar .icon_xl {
  display: inline-block;
  font-size: 1rem;
  margin-right: 5px;
}

#sidebar .icon_xl_text {
  font-size: 0.8rem;
}

#sidebar li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* MAIN - CONTENT */

#main_content {
  width: calc(100% - var(--sidebar-width));
  height: calc(100vh - 76px);
  overflow: auto;
}

/* TOP-BAR */

#top_bar .btn {
  font-size: 1.5rem;
  padding: 0 0.7rem;
  margin-left: 0.5rem;
}
#top_bar .btn:hover {
  border: 1px solid white;
  color: white;
}

.text-bg-dark {
  background-color: rgba(0, 0, 0, 0.3) !important;
  font-size: 0.8rem;
  font-weight: 400;
}

.badge_lg {
  display: none;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
  left: unset;
}

/* CONTENT */

/* TABLE CARD */

#content .table td,
.table th {
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  font-weight: 400;
}

#content .table img {
  width: 20px;
  margin-right: 0.5rem;
}

#content .table tr {
  margin: 0;
  font-size: 0.8rem;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 0.7rem;
}

/* TODO CARD */

.form-check .form-check-input {
  margin-right: 0.5rem;
  margin-left: 0;
}

.form-check.list-group-item {
  font-size: 0.8rem;
}

/* GRAPHIC CARD */

#graphic li {
  font-size: 0.8rem;
}

#graphic p,
a {
  font-size: 0.7rem;
}

/* OFFCANVAS */

.offcanvas.offcanvas-end {
  width: 100%;
}

/* 
#******************
#   RESPONSIVE    *
#******************
*/

/* ## DESKTOP ## */

@media screen and (min-width: 768px) {
  /* TABLE CELL */
  .class_name {
    width: 25%;
  }
}

@media screen and (min-width: 992px) {
  :root {
    --sidebar-width: 100px;
  }
  .offcanvas.offcanvas-end {
    width: 50%;
  }
  .badge_lg {
    display: inline;
  }
  .badge_sm {
    display: none;
  }
  /* TABLE CELL */
  .class_name {
    width: 50%;
  }
}
